%footer.main-footer
  .pull-right.hidden-xs
    Rails Work Flow Generator
  %strong
    Copyright © 2020
    %a{:href => "http://www.github.com/kul1/heroku-notes.git"} Prateep Kul
  All rights reserved.
